Programacion de IA/tirmestre_2/reconocimieto_caras/imagenes/*/*.jpg
Programacion de IA/tirmestre_2/reconocimieto_caras/imagenes/*/*.png
Sistemas de Aprendizaxe Automático/redes_neuronales/ejercicios/neumonia/train/*/*.jpeg
Sistemas de Aprendizaxe Automático/redes_neuronales/ejercicios/neumonia/test/*/*.jpeg
Sistemas de Aprendizaxe Automático/redes_neuronales/ejercicios/neumonia/val/*/*.jpeg
sistemas_de_aprendizaxe_automatico/neumonia/test/*/*.jpeg
sistemas_de_aprendizaxe_automatico/neumonia/train/*/*.jpeg
sistemas_de_aprendizaxe_automatico/neumonia/val/*/*.jpeg
